@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Montserrat';
	src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
*, :after, :before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	/*direction: rtl;*/
}
body {
	margin: 0;
	color: #000;
	width: 100%;
	/*direction: rtl;*/
	text-align: center;
	position: relative;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	background: rgb(232, 234, 246);
	font-family: 'Open Sans Hebrew', sans-serif, Arial;
}
ul {
	list-style-type: none;
}
select {
	text-align: center;
	text-align-last: center;
}
form {
	display: block;
	max-width: 80%;
	white-space: nowrap;
	margin: auto;
}
.hide {
	display: none;
}
table {
	margin: 0 auto;
	text-align: center;
}
table div {
	height: 30px;
	min-width: 25px;
	position: relative;
	font: 17px/25px 'Open Sans', sans-serif;
}
textarea {
	padding: 0;
	width: 100%;
	margin: auto;
	flex-grow: 1;
	resize: none;
	height: 80px;
	border: none;
	outline: none;
	display: block;
	flex-shrink: 1;
	background: white;
	line-height: 25px;
	overflow-x: hidden;
	text-align: center;
	overflow-y: visible;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	word-wrap: break-word;
	white-space: pre-wrap;
	-webkit-flex-shrink: 1;
	font: 400 16px Arial, Helvetica, sans-serif;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}
input {
	width: 250px;
	font-size: 16px;
	padding: 10px 0;
	font-weight: 200;
	text-align: center;
	border-radius: 3px;
	transition: border .5s;
	background-color: #ECF0F1;
	border: 2px solid transparent;
}
input:focus {
	border: 2px solid #3498DB;
	box-shadow: none;
}
label {
	display: block;
}
.login {
	background: #ECF0F1;
}

.login .wrapper {
	width: auto;
	padding: 15% 0 0;
}
.login_wrap {
	width: 300px;
	margin: 0 auto;
	padding: 10px 0 0;
}
.app-title {
	color: #777;
	text-align: center;
}
.login-screen {
	padding: 20px;
	background: #fff;
	border-radius: 5px;
}
.warning_hide {
	opacity: 1;
}
.warning {
	display: block;
	margin-top: 10px;
	background-color: white;
}
.login-form {
	text-align: center;
}
.control-group {
	margin-bottom: 10px;
}
.login_button_wrap {
	position: relative;
}
.login-link {
	color: #444;
	display: none;
	font-size: 12px;
	margin-top: 12px;
}
.login form{
	max-width: 100%;
}
.btn {
	color: #fff;
	width: 250px;
	display: block;
	margin: 0 auto;
	font-size: 16px;
	padding: 10px 0;
	cursor: pointer;
	box-shadow: none;
	line-height: 25px;
	text-shadow: none;
	transition: 0.25s;
	border-radius: 3px;
	background: #3498DB;
	text-decoration: none;
	border: 2px solid transparent;
}
.btn:hover {
	background-color: #2980B9;
}
#login_button {
	display: none;
}
img {
	width: 100px;
	height: 100px;
}
.courses {
	float: left;
}
li {
	/*width: 300px;*/
	overflow: hidden;
	display: inline-block;
}
.login header {
	display: none;
}
.nav img {
	width: 100px;
	height: 100px;
	float: right;
}
.nav h3 {
	display: inline;
	font: 25px/30px 'Open Sans', sans-serif;
	color: #FFFFFF;
	padding: 0 13px 0 0;
}
.nav .logout {
	/*float: left;*/
	margin: 0 0 0 15px;
}
.error_message {
	color: red;
	padding: 15px 0;
	font: 25px/30px 'Open Sans', sans-serif;
}
.success_message {
	padding: 15px 0;
	color: lightgreen;
	font: 25px/30px 'Open Sans', sans-serif;
}
.course_image {
	width: 50px;
	height: 35px;
	float: right;
}
.course_details .course {
	width: 50%;
	margin: auto;
}
input.file {
	margin: auto;
}

.school .student{
	display: block;
	text-align: left;
	height: 1000px;
	overflow-y: scroll;
}
.student div {
	display: inline-block;
}
.student img {
	margin: 24px 10px 0 0;
}
.slideanim img {
	float: left;
}
.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}
.item span {
	font-style: normal;
}
.panel {
	border: 1px solid black;
	border-radius:0 !important;
	transition: box-shadow 0.5s;
}
.panel:hover {
	box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
	border: 1px solid #f4511e;
	background-color: #fff !important;
	color: #f4511e;
}
.panel-heading {
	color: #fff !important;
	background-color: black !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.slideanim {visibility:hidden;}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	} }

.school .slideanim {
	text-align: left;
}
.this_course h2 {
	margin: 20px 0 50px 0;
}
.school .this_course {
	height: 1000px;
	overflow-y: scroll;
}
.show_description {
	opacity: 0;
}
.course_show:hover .show_description {
	opacity: 1 !important;
	-moz-transition: opacity 1.5s!important;
	-webkit-transition: opacity 1.5s!important;
	transition: opacity 1.5s!important;
	color: #000;
	background:url(http://www.nigarn.com/wp-content/uploads/2016/10/slide-background-2-5.png)no-repeat center top;
	pointer-events: none;
}
.jumbotron {
	background-color: #2b4359;
	color: #fff;
	padding: 100px 25px;
	font-family: Montserrat, sans-serif;
}
h2 {
	font-size: 20px;
}
.school .course_show p {
	margin: 60px 0 10px;
}
.row::-webkit-scrollbar {
	width: 12px;
}

.row::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.row::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.sales .sale_role {
	padding: 80px 0 19px;
}
a.show {
	display: block;
}
.del_btn {
	display: inline-block;
}
.jumbotron h3 {
	direction: rtl;
}
.scroll_style::-webkit-scrollbar {
	width: 12px;
}

.scroll_style::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}

.scroll_style::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
.header_links {
	font-size: 20px;
}
.jumbotron button {
	margin: 19px auto;
}
#hook_delete {
	margin: 20px auto;
}
.submit {
	margin: 13px auto;
}
