@import url(http://fonts.googleapis.com/css?family=Patua+One|Open+Sans);
@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Montserrat';
	src: local('Montserrat-Regular'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
*, :after, :before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	direction: rtl;
}
body {
	margin: 0;
	color: #000;
	width: 100%;
	direction: rtl;
	text-align: center;
	position: relative;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	background: rgb(232, 234, 246);
	font-family: 'Open Sans Hebrew', sans-serif, Arial;
}
ul {
	list-style-type: none;
}
form {
	display: block;
	max-width: 100%;
	white-space: nowrap;
}
table {
	margin: 0 auto;
	text-align: center;
}
table div {
	height: 30px;
	min-width: 25px;
	position: relative;
	font: 17px/25px 'Open Sans', sans-serif;
}
textarea {
	margin: 0;
	padding: 0;
	width: 100%;
	flex-grow: 1;
	resize: none;
	height: 25px;
	border: none;
	outline: none;
	display: block;
	flex-shrink: 1;
	background: none;
	line-height: 25px;
	overflow-x: hidden;
	overflow-y: visible;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	word-wrap: break-word;
	white-space: pre-wrap;
	-webkit-flex-shrink: 1;
	font: 400 16px Arial, Helvetica, sans-serif;
}
input {
	width: 250px;
	font-size: 16px;
	padding: 10px 0;
	font-weight: 200;
	text-align: center;
	border-radius: 3px;
	transition: border .5s;
	background-color: #ECF0F1;
	border: 2px solid transparent;
}
input:focus {
	border: 2px solid #3498DB;
	box-shadow: none;
}
label {
	display: block;
}
.login {
	background: #ECF0F1;
}

.login .wrapper {
	width: auto;
	padding: 15% 0 0;
}
.login_wrap {
	width: 300px;
	margin: 0 auto;
	padding: 10px 0 0;
}
.app-title {
	color: #777;
	text-align: center;
}
.login-screen {
	padding: 20px;
	background: #fff;
	border-radius: 5px;
}
.warning_hide {
	opacity: 1;
}
.warning {
	display: block;
	margin-top: 10px;
	background-color: white;
}
.login-form {
	text-align: center;
}
.control-group {
	margin-bottom: 10px;
}
.login_button_wrap {
	position: relative;
}
.login-link {
	color: #444;
	display: none;
	font-size: 12px;
	margin-top: 12px;
}
.btn {
	color: #fff;
	width: 250px;
	display: block;
	margin: 0 auto;
	font-size: 16px;
	padding: 10px 0;
	cursor: pointer;
	box-shadow: none;
	line-height: 25px;
	text-shadow: none;
	transition: 0.25s;
	border-radius: 3px;
	background: #3498DB;
	text-decoration: none;
	border: 2px solid transparent;
}
.btn:hover {
	background-color: #2980B9;
}
#login_button {
	display: none;
}
img {
	width: 150px;
	height: 150px;
}
.courses {
	float: left;
}
li {
	width: 300px;
	/*height: 300px;*/
	overflow: hidden;
	display: inline-block;
}
.login header {
	display: none;
}
